/* REGOLE GENERALI CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./../img/cork.png); 
}

/* HEADER */

header{
    height: 150px;
    background-image: url(./../img/wall.png);
    text-align: center;
}

/* TITOLO */

.title{
    font-family: Edu Tas Beginner, sans-serif;
    font-size: 100px;
}


/* MAIN */


/* CONTENITORE DELLE CARD */

#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width:60%;
    gap: 10px;
    padding-top: 50px;
}


/* CARD */

.memories{
    width: 32%;
    height: 300px;
    background-color: white;    
}


/* MEMORIES OVER */
.memories:hover{
    transform: rotate(40deg);
    z-index: 1;
    transition: 0.7s;
}


/* TESTO DELLE CARD */

.age{
    color:#818181;
    font-family:Sometype Mono, monospace;
}

.mintitle{
    font-family: Edu Tas Beginner, sans-serif;
    font-size: 25px;
    font-weight: 800;
}

p{
    padding-left: 30px;
}

/* IMG */

/* CONTENITORE GENERALE */

.imgcont{
    height: 80%;
    position: relative;
}

.foto{
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    cursor: pointer;
}

.pin{
    width: 20px;
    position: absolute;
    left: 50%;
}


/* PIN OVER */
.memories:hover .pin{
    display: none;
}



/* 878px : Large screens */

@media (max-width: 878px){

    .title{
        padding-top: 20px;
        font-size: 80px;
    }

    .memories{
        width: 47%;  
    }

    #container{
        max-width:80%;
    }

    .pin{
        left: 48%;
    }

   
}


/* 576px : Large screens */

@media screen and (max-width: 576px){

    .title{
        padding-top: 30px;
        font-size: 60px;
    }

    .memories{
        width:100%;  
    }

    #container{
        max-width:40%;
    }

    .foto{
        padding: 10px 10px;
    }

    .pin{
        left: 45%;
    }

    p{
        padding-left: 15px;
    }


}
